<div id="login">
	User Name:
	Password:
</div>

<div id="how-it-works">
	<h1>How it Works</h1>
	<div id = "container">
		<div class="blurb">
			STEP 1
		</div>
		<div class="blurb">
			STEP 2
		</div>
		<div class="blurb">
			STEP 3
	</div>
</div>
</div>
